body {
    background-color: #ffffff;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
}

.headerNOMAD {
    text-align: center;
    color: #ffffff;
    background-color: #20335d;
    min-width: 600px;
/*    max-width: 1700px;*/
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
}

.nomad-tooltip {
/*    text-align: center;*/
/*    color: #ffffff;*/
/*    background-color: #404040;*/
    margin: 0 auto;
    white-space: nowrap;
    width:100%;
}

.nomad-header-tooltip {
    text-align: center;
    color: #ffffff;
    background-color: #20335d;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;

/*    margin: 0 auto;*/
    width:100%;
    white-space: nowrap;
    text-align: center;
    background-color: #20335d;
    color: #e6e6ff;
    letter-spacing: 2px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.small-text-tooltip {
    display: inline;
    text-align: left;
/*    color: #20335d;*/
    color: #262626;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.small-text-tooltip-error {
    display: inline;
    text-align: left;
/*    color: #20335d;*/
    color: #B22222;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.header-large-text {
    text-align: center;
    color: #e6e6ff;
    letter-spacing: 12pt;
    font-size: 60pt;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-shadow: 3px 3px #8080ff;
}


.results-small-text {
    text-align: left;
    color: #20335d;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

.legend-small-text {
    display: inline;
    text-align: left;
    color: #20335d;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

.header-small-text {
    text-align: center;
    color: #e6e6ff;
    letter-spacing: 2px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

table, th, td {
    border: 0px solid black;
}

td.label{
    width:126px;
}

td.input{
    width:100%;
}

/* center div */
div { margin: auto; }

/* put every image on a new line */
img { display:block; }  

.large_title {
    text-align: center;
    color: #20335d;
    font-size: 40pt;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: 900;
    vertical-align: bottom;
    display: inherit;
}

.small_title {
    text-align: center;
    color: #20335d;
    font-size: 22pt;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: 900;
    vertical-align: bottom;
    display: inherit;
}


#clustering_info {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

#clustering_info td, #clustering_info th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;

}

#clustering_info tr:nth-child(even){background-color: #f2f2f2}

#clustering_info tr:hover {background-color: #ddd;}

#clustering_info th.selection {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #20335d;
    color: #e6e6ff;
    font-size: 16px;
}

#clustering_info th {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #2e4985;
    color: #e6e6ff;
    font-size: 14px;
}

#clustering_info td {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
}

#summary_div div { 
    overflow-y:scroll;
    overflow-x:hidden;
} 

#jsmol_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /*  pixels less than the jsmol applet to have it align */
    width: 400px;  
}

#jsmol_table td, #jsmol_table th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    font-size: 16px;
}

#jsmol_table td.none {
    /*border-style: none;*/
    text-align: center;
}


#jsmol_table tr:nth-child(even){background-color: #f2f2f2}

#jsmol_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #20335d;
    color: #e6e6ff;
}


.instructions-table {
    text-align: center;
    background-color: #F5F5F5;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 90%
}

.instructions-title-text {
    text-align: center;
    color: #20335d;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 20pt;
    font-weight: 900;
}

.instructions-h1-text {
    text-align: left;
    color: #20335d;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 900;
    font-variant: small-caps;
}

.instructions-text {
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    color: #20335d;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

# vim: tabstop=8 expandtab shiftwidth=4 softtabstop=4

